/Cours/ConsoleApplication1/Debug
/Cours/ConsoleApplication1/ConsoleApplication1/Debug
/Cours/ConsoleApplication1/.vs
/Cours/ConsoleApplication1/x64
/Cours/ConsoleApplication2/ConsoleApplication2/Debug
/Cours/ConsoleApplication2/ConsoleApplication2/.vs
